* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*--Bola--*/
.bola {
  opacity: 0;
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background-color: var(--bola-color);
  backdrop-filter: invert(1) grayscale(1);
  z-index: 998;

}

.bola2 {

  opacity: 0;
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background-color: var(--bola2-color);
  backdrop-filter: invert(1) grayscale(1);
  z-index: 99;
  display: flex;
}

.bola3 {

  opacity: 0;
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background-color: black;
  z-index: 99;
  display: flex;
}

.click {
  position: absolute;
  left: 1px;
  top: 6px;
  font-size: 10px;
  opacity: 0;
  color: white;
}

.clickForm {
  position: absolute;
  left: 2px;
  top: 10px;
  font-size: 18px;
  opacity: 0;
  color: white;
}



/*--Section1---*/

.section1 {

  background-color: var(--background-color-section1);
  height: 100%;
  width: 100vw;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.seccion1__marco {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 100vw;
  background-color: var(--background-color-section1);
  z-index: 100;
  overflow: hidden;
  filter: var(--hue-rotate)
}

.cortinaIzq {
  background-image: url(../recursos/cortina1.png);
  background-size: 100% 100%;
  z-index: 50;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50px);

}

.cortinaDer {
  background-image: url(../recursos/cortinaDerecha.png);
  background-size: 100% 100%;
  z-index: 50;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateX(50px);
}

.btn-container {
  display: flex;
}

.click-inicio {
  position: relative;
}

/*--OJO--*/

.boton {
  z-index: 9999;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.ojo {
  position: relative;
}

.ojo__forma {
  position: relative;
  width: 180px;
  height: 130px;
  background-color: black;
  overflow: hidden;
  border-radius: 100% 0;
  transform: rotate(50deg);
}


.ojo__cont {
  position: absolute;
  width: 180px;
  height: 130px;
  background-color: var(--background-color-section1);
  border-radius: 100% 0;
  z-index: 999;

}

.animatecont {
  animation: pestaneo forwards .8s 40ms ease-in-out;
}



.ojo__ball {
  transform: rotate(-50deg);
  top: -30px;
  left: -5px;

  width: 210px;
  height: 210px;
  border-radius: 50%;
  position: relative;
  background-color: white;
}

.ojo__iris {
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
  border-radius: 50%;
  background-color: #229954;
  position: absolute;
}

.animateiris {
  animation: aparicion alternate 1000ms 40ms ease-in-out;
}


.ojo__int {
  opacity: 1;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 30%;
  left: 30%;
  background-color: var(--iris-color);
  z-index: 501;

}

.iris:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 35%;
  left: 55%;
  background-color: rgba(255, 255, 255, 0.35);

}

@keyframes aparicion {
  0% {
    transform: translateX(-70%) translatey(-50%);

    ;
  }

  16% {
    transform: translateX(60.8%) translatey(2%);
    ;
  }


  28% {
    transform: translateX(-50.88%) translatey(-45%);
    ;
  }

  44% {
    transform: translateX(54.63%) translatey(-7%);
    ;
  }

  59% {
    transform: translateX(-22.58%) translatey(-30%);
    ;
  }

  73% {
    transform: translateX(10.58%) translatey(-15%);
    ;
  }

  88% {
    transform: translateX(-5%) translatey(-10%);
    ;

  }

  100% {
    transform: translateX(0%) translatey(-22%);
  }


}


@keyframes pestaneo {

  to {
    transform: translateX(-100px) translatey(-400px)
  }

}





/*--section2--*/

.section2 {
  height: 5vh;
  width: 100%;
  background-color: #229954;
  z-index: 500;
  filter: var(--hue-rotate)
}


.section2__marco {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
}

/*--section3--*/
.section3__B {
  display: flex;
  height: 100vh;
  width: 200vw;
  background-color: rgb(255, 255, 255);
  left: 100vw;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.section3__C {

  height: 100vh;
  width: 200vw;
  background-color: #F5B7B1;
  left: 100vw;
  position: absolute;
  z-index: 2;
  opacity: 0;
}


.seccion3__tapa {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  z-index: 9999;
  pointer-events: none;

}

.section3__pathSvg {
  position: relative;
  opacity: 1;
  /*   left: -750%;
  top: 80%;  */
  left: 65%;
  top: -350%;
  z-index: 9999;
}

.camino {
  position: absolute;
  opacity: 0;
  display: none;
}

.interruptor {
  z-index: 99;
}

/*---section3---*/


*/seccion3*/:root {
  --blob-top: 0%;
  --blob-right: 0%;
  --blob-zise: 0%;
  /*   --footer-color: #FA0008;
  --after-opacity: 0%; */

}

.wrapwrapper {
  position: relative;
  width: 0vw;
  overflow: visible;
  background-color: transparent;
}

.section3 {
  height: 0vh;
  z-index: 50;
  width: 100vw;
}

.heightsection3 {
  height: 100vh;
}

.textoFoco1 {
  position: absolute;
  width: 90%;
  opacity: 1;
  font-size: 120px;
}

.textoFoco2 {
  height: 100vh;
  width: 100vh;
  opacity: 0;
  font-size: 65px;
  margin-right: 150px;
}

.section3__C_texto {
  right: 20px;
  position: absolute;
  width: 48vw;
  opacity: 1;
  font-size: 75px;
}

#switch {
  position: relative;
  cursor: pointer;
}

.switchLuz {
  width: 100%;
  height: 100%;
}

.containerTextLuz {
  height: 100vh;
  width: 194vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
}

.bordeNegro {
  width: 100vw;
  height: 100px;
  background-color: rgb(0, 0, 0);
  z-index: 500;
}


.divAncho {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 0;
}




.blob-wrapper {
  position: absolute;
  overflow: hidden;
  margin: auto;
  top: -200px;
  left: -20px;
  background: transparent;
  height: 0px;
  width: 100vw;
  z-index: -1;
  filter: url("#blob");

}


.blob {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--background-blob);
  transform: translate(-50%, -50%);
  filter: var(--hue-rotate);

}

.amarillo {
  position: absolute;
  width: 100vw;
  height: 0vh;
  z-index: 00;
  backdrop-filter: sepia(100%);

}

.content__text {
  background-color: transparent;
  position: absolute;
  height: 0vh;
  width: 100vw;
  z-index: 4;
  overflow: hidden;
}

.text--oscuridad {

  position: relative;
  height: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../recursos/miedooscuridad.png");
  z-index: 5;
  filter: invert(100%);
  opacity: 1;
}

.luz {
  position: absolute;
  height: 28px;
  width: 28px;
  aspect-ratio: 1 / 1;
  /* top: 7.5%;
  left: 55%; */
  top: 12.9%;
  left: 22.85%;
  border-radius: 50%;
  filter: invert(100%);
  background-color: red;
  z-index: 999;
  opacity: 0;
}


.wrapperText1 {
  position: absolute;
  top: 6.5%;
  left: 3%;
  height: 60%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../recursos/tienen.png");
  opacity: 0;
}

.wrapperText2 {
  position: absolute;
  top: 17%;
  left: 52%;
  height: 10%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../recursos/ala.png");
  opacity: 0;
}

.wrapperText3 {
  position: absolute;
  top: 30%;
  left: 76%;
  height: 8%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../recursos/pregunta.png");
  opacity: 0;
}

.foco {

  z-index: 9999;
  display: block;
  width: 200vw;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: radial-gradient(circle var(--circle) at var(--cursorX) var(--cursorY),
      rgba(255, 255, 255, .2) 60%,
      rgba(255, 255, 0, .5) 80%,
      rgba(0, 0, 0, 0.99) 100%)
}

#wave {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

:root {
  --circle: 0vmax;
  --cursorX: 50vw;
  --cursorY: 50vh;
}

/*section4*/
.section4 {
  overflow: hidden;
  background-color: #F5B7B1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: flex-end;
  height: 0vh;
  width: 100%;

  z-index: 1;

}













/*PARTE BOCA*/

.circulo {
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgb(199, 100, 100) 50%, rgb(157, 171, 88) 100%);
}

.boca {
  display: block;
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.bocaAbajo {

  z-index: 1;
  transform: translateY(160px);
  transform-origin: 52.4% 50%;
  display: block;
  position: relative;

}

.formaBoca {
  width: 100vw;
  height: 100vh;
}

.circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*   width: 10%;
 height: 10%;  */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 20px solid rgba(159, 44, 150, 0.26);

}



.fondoBoca {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 0vh;
  background-color: rgb(31, 2, 2);
  overflow: hidden;
  backdrop-filter: grayscale(1);

  animation: huerotate 5s infinite linear;
}


@keyframes huerotate {
  from {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(120deg);
  }

  to {
    filter: hue-rotate(0deg);
  }
}

button {
  position: relative;
  height: 65px;
  width: 210px;
  margin: 0 40px;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0d0d0d;
  overflow: hidden;
  transition: 0.6s;
  z-index: 100;
}

#lineaCirculo {
  position: absolute;
  top: -95.2%;
  left: -21.5%;
  right: 50px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  z-index: 999;
  width: 0%;
  height: 0%;
  border-radius: 7px;
  backdrop-filter: blur(5px);
  background-color: black;
  overflow: hidden;
  /*  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.input {
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 0%;
  height: 0%;
  background-color: rgba(248, 222, 246, 0.877);
}

textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: rgba(248, 222, 246, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  color: #6104b8;
  font-size: 16px;
  width: 100%;
  height: 100%;

}


#btnForm {
  opacity: 0;
  margin: 10px;
  width: 150px;
  height: 48px;
  border-radius: 7px;
  color: rgb(125, 160, 165);
  background-color: rgb(248, 222, 246);
  transition: 0.3s;
  z-index: 1;
}

#btnForm:hover {
  color: rgb(60, 35, 153);
  background-color: white;
}

/*---colorMode---*/

:root {
  --background-btn: #91ea82;
  --background-color-section1: #F5B7B1;
  --bola-color: transparent;
  --bola2-color: transparent;
  --hue-rotate: hue-rotate(0deg);
  --iris-color: rgb(0, 0, 0);
  --background-blob: rgb(4, 4, 4);
}

html[data-theme='rosa'] {
  --background-btn: #91ea82;
  --background-color-section1: #F5B7B1;
  --bola-color: transparent;
  --bola2-color: transparent;
  --hue-rotate: hue-rotate(0deg);
  --iris-color: rgb(0, 0, 0);
  --background-blob: rgb(4, 4, 4);
}

html[data-theme='lavanda'] {
  --background-btn: #ba82ea;
  --background-color-section1: #a6e092;
  --bola-color: #f6f32feb;
  --bola2-color: #0c647a72;
  --hue-rotate: hue-rotate(120deg);
  --iris-color: #c7cef2;
  --background-blob: #F5B7B1;
}


#checkbox {
  position: fixed;
  appearance: none;
  outline: none;
  top: 10px;
  right: 50px;
  width: 40px;
  height: 22px;
  border-radius: 20px;
  background-color: #131e3b;
  box-shadow: 0px 8px 12px 0px rgba(9, 30, 66, 0.15);
  box-shadow: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  z-index: 9999;
}

#checkbox:checked {
  background-color: #9CD4A7;
  background-image: url('data:image/svg+xml,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="800.000000pt" height="780.000000pt" viewBox="0 0 991.000000 1280.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="%231C9A53" stroke="none"><path d="M4810 12263 c-258 -264 -739 -800 -1121 -1248 -1912 -2241 -3059 -4155 -3268 -5452 -56 -349 -39 -866 44 -1318 210 -1145 814 -2163 1705 -2876 700 -561 1541 -895 2435 -969 167 -14 533 -14 700 0 699 58 1370 276 1963 638 1137 694 1930 1862 2177 3205 72 392 97 886 61 1187 -157 1304 -1316 3275 -3285 5585 -382 448 -866 987 -1121 1248 l-145 149 -145 -149z"/></g></svg>');
  background-repeat: no-repeat;
  background-position: 1px 2px;
  background-size: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #131e3b;
  }

  &::before {
    width: 1px;
    height: 1px;
    top: 50%;
    left: 75%;
    animation: stars 3s linear infinite;
  }

  &::after {
    width: 2px;
    height: 2px;
    top: 30%;
    left: 50%;
    animation: stars 4s linear infinite;
  }

  @keyframes stars {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }

    50% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 1;
    }

    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }
}

#checkbox:not(:checked) {
  background-color: #F5B7B1;
  background-image: url('data:image/svg+xml,<svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="800.000000pt" height="780.000000pt" viewBox="0 0 991.000000 1280.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"  fill="%23876CE0" stroke="none"><path d="M4810 12263 c-258 -264 -739 -800 -1121 -1248 -1912 -2241 -3059 -4155 -3268 -5452 -56 -349 -39 -866 44 -1318 210 -1145 814 -2163 1705 -2876 700 -561 1541 -895 2435 -969 167 -14 533 -14 700 0 699 58 1370 276 1963 638 1137 694 1930 1862 2177 3205 72 392 97 886 61 1187 -157 1304 -1316 3275 -3285 5585 -382 448 -866 987 -1121 1248 l-145 149 -145 -149z"/></g></svg>');
  background-repeat: no-repeat;
  background-position: 18px 2px;
  background-size: 18px;
}



/*---AvisoScroll---*/

.avisoScroll {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  top: 50%;
  z-index: 990;
  opacity: 0;
}


.avisoShow {
  opacity: 1;
}

.avisoScroll__texto {
  color: var(--background-btn);
  font-size: 20px;
}


#mouse-scroll {
  display: block;
}

#mouse-scroll {
  position: relative;
  margin: auto;
  z-index: 9999;
}

#mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid var(--background-btn);
  border-bottom: 2px solid var(--background-btn);
  margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid var(--background-btn);
  top: 170px;
}

#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}

#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
}

#mouse-croll .down-arrow-1 {
  animation-delay: .1s;
  animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
  animation-delay: .2s;
  animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
  animation-delay: .3s;
  animation-direction: alternate;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: var(--background-btn);
  position: relative;
}

#mouse-scroll .mouse-in {
  animation: animated-mouse 1.2s ease infinite;
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/*---PRESENTACION---*/
.presentacion {
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 9999;
}

.presentacion__indexA {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}


.presentacion__input {
  border-radius: 7px;
  height: 30px
}



.presentacion__form {
  z-index: 999;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  backdrop-filter: blur(5px);
  background-color: transparent;
  overflow: hidden;
}

.form__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-grupo {
  background-color: var(--background-color-section1);
  border-radius: 7px;
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-grupo__nombre {
  animation: orbita 10s linear infinite;
}

.form-grupo__edad {
  animation: orbita2 10s linear infinite;
}

@keyframes orbita {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}

@keyframes orbita2 {
  from {
    -webkit-transform: rotate(0deg) translateX(5px) translateY(20px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(5px) translateY(20px) rotate(-360deg);
  }
}


#ingresar {
  background-color: var(--background-btn);
}

.presentacion__indexB {
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.presentacion__indexBtexto {

  color: whitesmoke;

}