@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800;900&display=swap');


* {
  margin: 0;
  padding: 0;
}


.section1 {

  background-color: #F5B7B1;
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
  width: 100%;
  flex-direction: column;
}

.section2 {

  height:300px;
  width: 100%;
  background-color: #229954;
  display: block;
}



.section3 {
  height:0;
  width: 100%;
  background-color: #ffffff;

}



.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.ojo {
  position: relative;
}

.forma {
  position: relative;
  width: 180px;
  height: 130px;
  background-color: black;
  overflow: hidden;
  border-radius: 100% 0;
  transform: rotate(50deg);


}

.cont {
  position: absolute;
  width: 180px;
  height: 130px;
  background-color: #F5B7B1;
  border-radius: 100% 0;
  z-index: 999;

}

.animatecont {
  animation: pestaneo forwards .8s 40ms ease-in-out;
}

.boton {

  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.ball {
  transform: rotate(-50deg);
  top: -30px;
  left: -5px;

  width: 210px;
  height: 210px;
  border-radius: 50%;
  position: relative;
  background-color: white;
  /*  box-shadow:inset -5px -5px 5px rgba(0,0,0,0.1); 
    animation: tamano alternate infinite 400ms 40ms ease-in-out; */

}


.iris {
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
  border-radius: 50%;
  background-color: #229954;
  position: absolute;

}

.animateiris {
  animation: aparicion alternate 1000ms 40ms ease-in-out;
}

/*   .iris:before {
    content: "";
    position: absolute;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    top: 30%;
    left: 30%;
    background-color: black;
  } */

.int {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 30%;
  left: 30%;
  background-color: black;
  z-index: 501;
}

.iris:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 35%;
  left: 55%;
  background-color: rgba(255, 255, 255, 0.35);

}

@keyframes aparicion {
  0% {
    transform: translateX(-70%) translatey(-50%);

    ;
  }

  16% {
    transform: translateX(60.8%) translatey(2%);
    ;
  }


  28% {
    transform: translateX(-50.88%) translatey(-45%);
    ;
  }

  44% {
    transform: translateX(54.63%) translatey(-7%);
    ;
  }

  59% {
    transform: translateX(-22.58%) translatey(-30%);
    ;
  }

  73% {
    transform: translateX(10.58%) translatey(-15%);
    ;
  }

  88% {
    transform: translateX(-5%) translatey(-10%);
    ;

  }

  100% {
    transform: translateX(0%) translatey(-22%);
  }


}

@keyframes tamano {
  to {
    transform: scaleX(1.01) scaleY(1);
  }
}

@keyframes pestaneo {

  to {
    transform: translateX(-100px) translatey(-400px)
  }

}


.bola {
opacity: 0;
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background-color: black;
  z-index: 500;
}


/*---*/
/*  */





*/seccion3*/



:root{
    --blob-top: 0%;
    --blob-right: 0%;
    --blob-zise: 0%;
    --footer-color: #FA0008 ;
    --after-opacity: 0%;
  }

  .wrapwrapper{
    position: relative;
    width: 100%;
    
    overflow: hidden;
    background-color: transparent;

  }
 .blob-wrapper {
  position: relative;
  overflow: hidden;
  margin:auto;
  top: -200px;
  left: -20px;
  background:rgb(255, 255, 255);
  height: 1500px;
  width: 110%;
  filter: blur(10px) contrast(100);
  z-index: -1;
    
}


.blob {
  position: absolute;
/*   width: 5%; */
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(29, 28, 28);
  transform: translate(-50%, -50%); 
  animation: moveBlob 5s forwards; 

}

.title{
  position: absolute;
  font-family: 'League Spartan', sans-serif;
  font-size: 17.5em;
  width: 100dvw;
  /* font-size: 280px; */
  color: rgb(255, 255, 255);
  z-index: 3;
  background-color: transparent;
}


.title::after {

  content:"";
   position: absolute;
  left: 21.5%;
  top: 1.2%;
   width: .19em;
   height: .19em;
   border-radius: 50%;
   background-color: #f9f9f9;
   box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #ff0; 
   z-index: 8;
   opacity: var(--after-opacity, 0);
   }

 

@keyframes moveBlob {
  from{
    top: 0;

  }
  to {
    top: var(--blob-top);
    width:var(--blob-size);
        }
}
